* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(launchingsoon.gif);
    background-position: center;
    background-size: cover;
    height: 50vh;
}

bgimg


/* Maintenance container */
 
.maintenanceContainer {
    margin-top: 8.5cm;
    line-height: 1cm;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-left: 30px;
}

.maintenanceContainer span {
    color: red;
}

/* Buttons */

.learnmore {
    background: transparent;
    border: 2px solid whitE;
    border-width: 3px;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
}

.navbar {
    position: fixed;
    text-justify: right;
    top: 0;
    right: 0;
    margin-right: 4cm;
    margin-top: 20px;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
       display: inline-block;
       padding: 10px;
}

.navbar li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}



/* Articles */

article {
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
}

.articlecss1 {
    width: 90%;
    margin-left: 55px;
}

