* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(launchingsoon.gif);
    background-position: center;
    background-size: cover:
}

/* Maintenance container */
 
.maintenanceContainer {
    margin-top: 8.5cm;
    line-height: 1cm;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

.maintenanceContainer span {
    color: red;
    text-transform: uppercase;
}