* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(launchingsoon.gif);
    background-position: center;
    background-size: cover;
    height: 90vh;
}


/* Maintenance container */
 
.maintenanceContainer {
    margin-top: 8.5cm;
    line-height: 1cm;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-left: 30px;
}

.maintenanceContainer span {
    color: red;
}

/* Buttons */

.learnmore {
    background: transparent;
    border: 2px solid whitE;
    border-width: 3px;
    width: 150px;
    height: 50px;
    margin-top: 10px;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
}

.navbar {
    float: right;
    position: fixed;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
       display: inline-block;
       padding: 10px;
}

.navbar li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}